<h1>Email checking</h1>

<form [formGroup]="signUpForm" (ngSubmit)="handleLogin()">
    <input formControlName="userName" type="text" placeholder="Enter your userName"><br>
    <div *ngIf="userName.touched && !userName.valid">
        <small *ngIf="userName.errors?.required" style="color: red;margin: 0">userName is required</small>
        <small *ngIf="userName.errors?.hasUserName" style="color: red;margin: 0">userName exists</small>
        <small *ngIf="userName.errors?.hasSpace" style="color: red;margin: 0">user name should not contain space</small>
    </div>
    <br>
    <input formControlName="email" type="text" placeholder="Enter your email"><br>
    <div *ngIf="email.touched && !email.valid">
        <small *ngIf="email.errors?.required" style="color: red;margin: 0">Email is required</small>
        <small *ngIf="email.errors?.email" style="color: red;margin: 0">Should contain @ in email</small>
        <small *ngIf="email.errors?.emailHas" style="color: red;margin: 0">Email exists</small>
    </div>
    <br>
    <input formControlName="password" autocomplete type="password" placeholder="Enter your password"><br>
    <div *ngIf="password.touched && !password.valid">
        <small *ngIf="password.errors?.required" style="color: red;margin: 0">password is required</small>
        <small *ngIf="password.errors?.minlength" style="color: red;margin: 0">password Should contain 6 chars </small>
    </div>
    <br>
    <button [disabled]="signUpForm.invalid" type="submit">SUBMIT</button>
</form>